<h1>Pages#home</h1>

<%= form_tag("/sms/send", method: "post") do %>
<div class="form-group">
  <label for="message">Message:</label>
  <%= text_area_tag(:message, "", class: "form-control") %>
</div>
<div class="row">
  <div class="form-group col-lg-2">
    <label for="user_number">Phone number:</label>
    <%= telephone_field(:user, :number, class: "form-control") %>
  </div>
</div>
<%= submit_tag("Submit", class: "btn btn-primary") %>
<% end %>
